src/main/mule/delete-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-employeeFlow" doc:id="bdcabd86-da1c-462f-9fe4-57244e954a0e" >
		<http:listener doc:name="Listener" doc:id="415bd551-dc71-4faa-9370-7953b107e6d8" config-ref="HTTP_Listener_config" path="delete-employee/{id}/{name}" allowedMethods="DELETE"/>
		<db:delete doc:name="Delete" doc:id="3865134b-471c-47a5-bd40-52c5fde5005d" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from emp where id = :id and name = :name]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	id : attributes.uriParams.id,
	name : attributes.uriParams.name
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="696606ed-e8cd-4796-abd8-c1572154a412" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	status : 200,
	message : "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
